version: '3.8'

services:
  api:
    image: nardiminardi/fews-api:latest
    container_name: fews-api
    restart: unless-stopped
    ports:
      - "${PORT:-3014}:${PORT:-3014}" # fallback to 3014 if PORT is not set
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs   # logs akan keluar ke folder host ./logs

    networks:
      - fews-net

networks:
  fews-net:
    driver: bridge

volumes:
  redis_data: