version: '3.8'

services:
  api:
    image: nardiminardi/ahu-ppns-api-dev:latest
    container_name: ahu_ppns_api_dev
    restart: unless-stopped
    ports:
      - '3013:3013'
    environment:
      - NODE_ENV=development
      - LOG_LEVEL=debug
      - DATABASE_URL=postgresql://adminixtrator:s1P4ling-zYuLlit@192.168.14.16:5432/ppns
      - MASTER_DATABASE_URL=postgresql://adminixtrator:s1P4ling-zYuLlit@192.168.14.16:5432/master_data
      - USERMAN_DATABASE_URL=postgresql://adminixtrator:s1P4ling-zYuLlit@192.168.14.16:5432/userman
      - NOTARIS_DATABASE_URL=postgresql://adminixtrator:s1P4ling-zYuLlit@192.168.14.16:5432/notaris
      - JWT_SECRET='yGNRT6tBAbKTyJ5p'
      - S3_ENDPOINT=http://192.168.14.17:9000
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin
      - S3_BUCKET=development
    volumes:
      - ./logs:/app/logs   # logs akan keluar ke folder host ./logs

    networks:
      - ahu-net

networks:
  ahu-net:
    external: true

volumes:
  redis_data: